*{
    box-sizing: border-box;
}
.login{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left{
    left : 0;
    border-right: 5px solid rgb(103, 103, 103);
    box-shadow: 10px 10px 10px rgba(0,0,0,.4);
    background: url("../Assets/blue2.webp");
    background-position: 100%;
    background-size: cover;
    height: 100%;
    width: 50%;
}

.right{
    right: 0;
    padding-left: 100px;
    padding-top: 150px;
}

.center{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center img{
    width: 500px;
}





.wrapper{
    width: 400px;
    /*background: url("backgroundbox.png") no-repeat;*/
    color: black;
    background: 100px;
    
}
.wrapper .login-title{
    color: rgb(8, 110, 154);
}


.wrapper{
    font-size: 20px;
    text-align: center;
    padding: 30px 25px;
}


.wrapper .inputbox{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}


.inputbox input{
    width : 100%;
    height : 100%;
    background: 15px;
    color: black;
    border: none;
    border-radius: 5px;
    border: 2px groove rgba(170,212,232,255);
    font-size: 17px;
    padding: 20px 20px;
}
.inputbox ::placeholder{
    color: rgb(1, 1, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    position: 40px;
    font-size: 18px;
}


.wrapper .forgotpass{
    display: flex;
    justify-content: center;
    margin: -16px 0 16px;
    font-size: 18px;
}


.forgotpass a{
    color: rgb(97, 97, 213);
    font-style: bold;
    text-decoration: none;
}

.forgotpass a:hover {
    text-shadow: 100%;
    text-decoration: underline;
}

.wrapper .bt{
    display: flex;
    justify-content: center;
    background-color:rgba(170,212,232,255);
    color: whitesmoke;
    font-style: bold;
    width: 100%;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
    cursor: pointer;
    

}


.wrapper .registration-link{
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding-top: 5%;
    padding-bottom: 6%;
    padding: 2%;
}


.registration-link a{
   padding-left: 2%;
   color: rgb(97, 97, 213);
   font-style: bold;
   text-decoration: none;
}


.registration-link a:hover{
    text-shadow: black;
    text-decoration: underline;
}
